.page-content-section{
    padding: 100px 0; 
    .inner{
        display: flex;
        gap: 60px;
        justify-content: space-between;
    }
    .page-content__left-col{
        width: 50%;
        max-width: 850px;
    }
    .page-content__right-col{
        width: 45%;
        max-width: 670px;
    }
    .page-content__left-col,
    .page-content__right-col{
        display: flex;
        flex-direction: column;
        gap: 20px; 
        *{
            margin: 0;
        }
    }
    &--about-page{
        padding: 150px 0;
    }
    .sticky-elem-col-box{
        width: 100%;
        justify-content: space-between;
        .sticky-elem-col-box__main-content{
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-width: 875px;
            font-weight: 500;
            .section-title{
                margin: 0;
            } 

        }
        .floating-offer{

        }
    }
    
}


// =============================================================================
@media screen and (max-width: 1470px){
    .page-content-section{
        padding: 80px 0; 
        .inner{
            display: flex;
            gap: 40px;
            justify-content: space-between;
        }
        .page-content__left-col{
            width: 50%;
            max-width: 632px;
        }
        .page-content__right-col{
            width: 47%;
            max-width: 527px;
        }
        .page-content-section__table-box{
            margin-top: 60px;
        }
    }
}
@media screen and (max-width: 999px){
    .page-content-section{
        padding: 60px 0; 
        .inner{
            display: flex;
            gap: 20px;
            flex-direction: column;
        }
        .page-content__left-col{
            width: 100%;
            max-width: 100%;
        }
        .page-content__right-col{
            width: 100%;
            max-width: 100%;
        }
        .page-content-section__table-box{
            margin-top: 40px;
        }
    }
} 
@media screen and (max-width: 500px){
    .page-content-section{
        padding: 30px 0;  
    }
    .page-content-section__table-box{
        margin-top: 30px;
    }
}