.form-elem{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    .form-elem__caption{
        width: 100%;
        font-size: 18px;
    }
    .form-elem__field-box{
        position: relative;
        width: 100%;
    }
    .form-elem__error{
        display: none;
        font-size: 16px;
        color: var(--error);
    }
    .form-elem__field{
        padding: 16px 24px;
        border: 1px solid var(--border);
        background-color: transparent;
        border-radius: 80px;
        width: 100%;
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        color: var(--dark);
        box-sizing: border-box;
        
            &::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color: var(--placeholder);}
            &::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--placeholder);}
            &:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--placeholder);}
            &:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--placeholder);}
            &:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
            &:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
            &:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
            &:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
    }
    .form-elem__textarea{
        display: block;
        padding: 24px;
        border: 1px solid var(--border);
        background-color: transparent;
        border-radius: 24px;
        width: 100%;
        min-height: 121px; 
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        color: var(--dark);
        box-sizing: border-box; 
        resize: none;
            &::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color: var(--placeholder);}
            &::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--placeholder);}
            &:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--placeholder);}
            &:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--placeholder);}
            &:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
            &:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
            &:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
            &:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
    }
    &--password{
        .form-elem__field{
            padding-right: 55px;
        }
        .eye-btn{
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
        }
    }
    &--error{
        .form-elem__field,
        .form-elem__textarea{
            border: 1px solid var(--error);
            &::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color: var(--error);}
            &::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--error);}
            &:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--error);}
            &:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--error);}
        }
        .form-elem__error{
            display: block;
        }
    }
    .forgot-your-password{
        margin-left: auto;
    }
}
.forgot-your-password{
    align-self: flex-end;
    font-size: 18px;
    line-height: 1.4;
    color: rgba(42, 49, 92, 0.8);
    transition: var(--great-transition);
    &:hover{
        text-decoration: none;
        color: var(--blue);
    }
}
.eye-btn{
    position: relative;
    height: 24px;
    width: 24px;
    background-color: transparent; 
    span{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: var(--great-transition);
    }
    .closed-eye-icon{
        opacity: 1;
    }
    .open-eye-icon{
        opacity: 0;
    }
    &.open{
        .closed-eye-icon{
            opacity: 0;
        }
        .open-eye-icon{
            opacity: 1;
        }
    }
}
fieldset{
    padding: 0;
    margin: 0;
}
legend{
    display: block;
}
.form-footer{
    display: flex;
    gap: 20px;
    align-items: center;
    .form-notification{
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        a{
            color: inherit;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}


// ----------------------------------------------------------------------------------------------
.form-ask-author-question{
    display: flex;
    flex-direction: column;
    gap: 20px;
    fieldset{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .btn{
        padding: 10px 40px;
        min-height: 64px;
    }
    
}

// ------------------------------------------------------------------------------------------------
.modal-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    .columns-box {
        grid-gap: 20px;
    }
}
// ====================================================================================
@media screen and (max-width: 1470px){
    .forgot-your-password { 
        font-size: 16px; 
    }
}

@media screen and (max-width: 880px){
    .form-ask-author-question {
        .btn {
            padding: 10px 30px;
            min-height: 54px;
        }
    }
}
@media screen and (max-width: 500px){
    .form-footer {
        flex-direction: column;
        .btn{
            width: 100%;
        }
    }
    .form-elem {
        .form-elem__field, 
        .form-elem__textarea { 
            font-size: 15px; 
        }
        
    }
    .forgot-your-password { 
        font-size: 14px; 
    }
}
