.form-elem {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    .form-elem__caption {
        width: 100%;
        font-size: 18px;
    }

    .form-elem__field-box {
        position: relative;
        width: 100%;

        &--two-col {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .form-elem__error {
        display: none;
        font-size: 16px;
        color: var(--error);
    }

    .form-elem__field {
        padding: 16px 24px;
        min-height: 58px;
        border: 1px solid var(--border);
        background-color: transparent;
        border-radius: 80px;
        width: 100%;
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        color: var(--dark);
        box-sizing: border-box;



        &::-webkit-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
            color: var(--placeholder);
        }

        &::-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
            color: var(--placeholder);
        }

        &:-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
            color: var(--placeholder);
        }

        &:-ms-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
            color: var(--placeholder);
        }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus::-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus:-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus:-ms-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &--client-code {
            text-align: center;
            font-weight: 700;

            &::-webkit-input-placeholder {
                font-weight: 500;
            }

            &::-moz-placeholder {
                font-weight: 500;
            }

            &:-moz-placeholder {
                font-weight: 500;
            }

            &:-ms-input-placeholder {
                font-weight: 500;
            }
        }
    }

    .form-elem__textarea {
        display: block;
        padding: 24px;
        border: 1px solid var(--border);
        background-color: transparent;
        border-radius: 24px;
        width: 100%;
        min-height: 121px;
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        color: var(--dark);
        box-sizing: border-box;
        resize: none;

        &::-webkit-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
            color: var(--placeholder);
        }

        &::-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
            color: var(--placeholder);
        }

        &:-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
            color: var(--placeholder);
        }

        &:-ms-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
            color: var(--placeholder);
        }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus::-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus:-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus:-ms-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    &--password {
        .form-elem__field {
            padding-right: 55px;
        }

        .eye-btn {
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
        }
    }

    &--error {

        .form-elem__field,
        .form-elem__textarea {
            border: 1px solid var(--error);

            &::-webkit-input-placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
                color: var(--error);
            }

            &::-moz-placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
                color: var(--error);
            }

            &:-moz-placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
                color: var(--error);
            }

            &:-ms-input-placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
                color: var(--error);
            }
        }

        .form-elem__error {
            display: block;
        }
    }

    .forgot-your-password {
        margin-left: auto;
    }

    .choices {
        .choices__inner {
            display: flex;
            align-items: center;
            border: 1px solid var(--border);
            background-color: var(--light);
            min-height: 58px;
            padding: 10px 24px;
            border-radius: 30px 30px 30px 30px;
            box-sizing: border-box;
        }

        &::after {
            top: 50%;
            margin-top: -8px;
            right: 24px;
            width: 16px;
            height: 16px;
            border: none;
            mask-image: url(../img/icons/choices-arrow-icon.svg);
            mask-size: contain;
            mask-position: center center;
            mask-repeat: no-repeat;
            background-color: var(--blue);
            transition: var(--great-transition);
        }

        &.is-open {
            .choices__inner {
                border-radius: 30px 30px 0 0;
            }

            &::after {
                scale: -1;
            }
        }

        .choices__placeholder {
            color: #2A315C80;
            opacity: 1;
        }

        .choices__list {
            &.choices__list--single {
                padding: 0;

                .choices__item {
                    font-size: 18px;
                    line-height: 1.4;
                    font-weight: 500;
                }
            }
        }

        .choices__list--dropdown {
            border: 1px solid var(--border);
            border-radius: 0 0 30px 30px;
            box-sizing: border-box;

            .choices__item {
                padding: 10px 24px;
                font-size: 16px;
                box-sizing: border-box;

                &--choice {}

                &--selectable {}

                &.is-highlighted {
                    background: var(--bg);
                }
            }

            .choices__placeholder {
                display: none;
            }

        }
    }

    .form-elem__field-measurement {
        position: absolute;
        top: 50%;
        right: 15px;
        min-width: 28px;
        transform: translateY(-50%);
        color: var(--blue);
        font-weight: 500;

        sup {
            font-size: 14px;
        }
    }

    &--row {
        // flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        ;

        .form-elem__field-box {
            width: 300px;
            flex-shrink: 0;

            .form-elem__field {
                width: 100%;

                &--with-measurement {
                    padding-right: 50px;
                    text-align: right;
                }

                &.flatpickr {
                    text-align: left;
                }

                &::-webkit-input-placeholder {
                    text-align: left;
                }

                &::-moz-placeholder {
                    text-align: left;
                }

                &:-moz-placeholder {
                    text-align: left;
                }

                &:-ms-input-placeholder {
                    text-align: left;
                }
            }
        }
    }
}

.flatpickr-calendar {

    &.today {
        border: 1px solid var(--border);
    }

    .flatpickr-day {

        &.selected,
        &.endRange,
        &.endRange.inRange,
        &.endRange.nextMonthDay,
        &.endRange.prevMonthDay,
        &.endRange:focus,
        &.endRange:hover,
        &.selected,
        &.selected.inRange,
        &.selected.nextMonthDay,
        &.selected.prevMonthDay,
        &.selected:focus,
        &.selected:hover,
        &.startRange,
        &.startRange.inRange,
        &.startRange.nextMonthDay,
        &.startRange.prevMonthDay,
        &.startRange:focus,
        &.startRange:hover {
            background-color: var(--blue);
            border: 1px solid var(--blue);
        }
    }

    span.flatpickr-weekday {
        color: var(--dark-blue);
    }
}

.forgot-your-password {
    align-self: flex-end;
    font-size: 18px;
    line-height: 1.4;
    color: rgba(42, 49, 92, 0.8);
    transition: var(--great-transition);

    &:hover {
        text-decoration: none;
        color: var(--blue);
    }
}

.eye-btn {
    position: relative;
    height: 24px;
    width: 24px;
    background-color: transparent;

    span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: var(--great-transition);
    }

    .closed-eye-icon {
        opacity: 1;
    }

    .open-eye-icon {
        opacity: 0;
    }

    &.open {
        .closed-eye-icon {
            opacity: 0;
        }

        .open-eye-icon {
            opacity: 1;
        }
    }
}

fieldset {
    padding: 0;
    margin: 0;
}

legend {
    display: block;
}

.form-footer {
    display: flex;
    gap: 20px;
    align-items: center;

    .form-notification {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.file-funnel {
    flex-grow: 0;
    padding: 0;
    border: none;
    flex-direction: column;
    border-radius: 0;

    .file-funnel__text {
        position: relative;
        display: block;
        padding: 0;
    }

    .file-funnel__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        min-height: 58px;
        width: 100%;
        border-radius: 80px;
        background-color: var(--bg);
        text-align: center;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 500;
        color: #405FCE;
        cursor: pointer;
    }

    &:hover {
        border: none;
    }

    .file-funnel__docs {
        margin-top: 10px;
        gap: 10px;
    }

    .file-funnel-doc {
        display: flex;
        align-items: center;
        padding: 10px 24px;
        min-height: 58px;
        border: 1px solid var(--border);
        border-radius: 80px;
        box-sizing: border-box;

        .file-funnel-doc__caption {
            position: relative;
            display: block;
            width: 99.9%;
            font-size: 16px;
            line-height: 1;
            color: var(--blue);
            line-height: 1.5;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .file-funnel-doc__extension-and-size {
            display: flex;
            gap: 4px;
            align-items: center;
            font-size: 14px;
            line-height: 1;
            color: #9DA4B0;

            .file-funnel-doc__extension {
                text-transform: uppercase;
            }
        }

        .file-funnel-doc__exterminatus-btn {
            flex-shrink: 0;
            margin-left: 11px;
            width: 16px;
            height: 16px;
            background-color: var(--dark-blue);
            transition: var(--great-transition);

            &:hover {
                background-color: var(--error);
            }
        }
    }
}

.radiobutton {
    position: relative;

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .radiobutton__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        min-height: 58px;
        border: 1px solid var(--border);
        text-align: center;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 600;
        color: var(--dark-blue);
        transition: var(--great-transition);
        cursor: pointer;
    }

    input:checked~.radiobutton__caption {
        border: 1px solid var(--gold);
        background-color: var(--gold);
        color: var(--light);
    }
}

// ----------------------------------------------------------------------------------------------
.form-ask-author-question {
    display: flex;
    flex-direction: column;
    gap: 20px;

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .btn {
        padding: 10px 40px;
        min-height: 64px;
    }

}

// ------------------------------------------------------------------------------------------------
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;

    .columns-box {
        grid-gap: 20px;
    }
}

// -----------------------------------------------------------------------------------------------------
.form-calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;

    .form-calculator__field-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-calculator__btn-box {
        margin-top: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

        .btn {
            padding: 10px;
            margin: 0;
            min-height: 70px;
        }
    }

    .form-elem {
        .form-elem__caption {
            font-size: 20px;
        }
    }
}

.form-calculator-result-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 30px 40px;
    border-radius: 30px;
    background-color: var(--bg);
    font-weight: 600;
    line-height: 1.3;
    color: var(--dark-blue);
    box-sizing: border-box;

    .form-calculator-result-panel__label {
        font-size: 20px;
    }

    .form-calculator-result-panel__caption {
        font-size: 26px;
        font-weight: 700;
    }
}


// ====================================================================================
@media screen and (max-width: 1470px) {
    .forgot-your-password {
        font-size: 16px;
    }

    .form-elem {
        .form-elem__field {
            min-height: 54px;
            font-size: 16px;
        }

        .form-elem__textarea {
            font-size: 16px;
        }

        .choices {
            .choices__inner {
                min-height: 54px;
                padding: 10px 24px;
                border-radius: 30px 30px 30px 30px;
            }

            .choices__list {
                &.choices__list--single {
                    .choices__item {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .file-funnel {
        .file-funnel__caption {
            min-height: 54px;
            font-size: 16px;
        }

        .file-funnel-doc {
            min-height: 54px;
        }
    }

    .radiobutton {
        .radiobutton__caption {
            border-radius: 60px;
            min-height: 54px;
            font-size: 16px;
        }
    }

    .form-calculator {
        .form-elem {
            .form-elem__caption {
                font-size: 16px;
            }
        }

        .form-calculator__btn-box {
            .btn {
                min-height: 54px;
            }
        }
    }

    .form-calculator-result-panel {
        gap: 20px;
        padding: 15px 20px;
        // border-radius: 20px;

        .form-calculator-result-panel__label {
            font-size: 18px;
        }

        .form-calculator-result-panel__caption {
            font-size: 24px;
        }
    }

    .radiobutton {
        .radiobutton__caption {
            font-size: 15px;
        }
    }


}

@media screen and (max-width: 880px) {
    .form-ask-author-question {
        .btn {
            padding: 10px 30px;
            min-height: 54px;
        }
    }

    .form-elem {
        .form-elem__field-measurement {
            font-size: 18px;
        }
    }

    .form-calculator {
        .form-elem {
            .form-elem__caption {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .form-elem {
        .form-elem__field {
            padding: 10px 20px;
            min-height: 54px;
            font-size: 15px;
        }

        .form-elem__textarea {
            padding: 20px;
            font-size: 15px;
        }

        .choices {
            .choices__inner {
                min-height: 54px;
                padding: 10px 20px;
                border-radius: 30px 30px 30px 30px;
            }

            .choices__list {
                &.choices__list--single {
                    .choices__item {
                        font-size: 15px;
                    }
                }
            }

            .choices__list--dropdown {
                .choices__item {
                    padding: 10px 20px;
                    font-size: 14px;
                }
            }
        }
    }

    .file-funnel {
        .file-funnel__caption {
            min-height: 54px;
            font-size: 15px;
        }

        .file-funnel-doc {
            .file-funnel-doc__caption {
                font-size: 15px;
            }
        }
    }

    .form-calculator-result-panel {
        .form-calculator-result-panel__label {
            font-size: 16px;
        }

        .form-calculator-result-panel__caption {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .form-footer {
        flex-direction: column;

        .btn {
            width: 100%;
        }
    }

    .forgot-your-password {
        font-size: 14px;
    }
}

@media screen and (max-width: 370px) {
    .form-calculator {
        .form-calculator__btn-box {
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }
    }
}