.great-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: var(--great-transition);

    &.open {
        opacity: 1;
        visibility: visible;
    }
}

.modal {
    position: absolute;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--light);
    border-radius: 30px 0 0 30px;
    width: 100%;
    max-width: 800px;
    padding: 60px;
    box-sizing: border-box;
    transition: all 200ms ease-out;

    &--scroll {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .modal-cell {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        // position: relative;
        // overflow-y: auto;
    }

    .modal__body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow-y: auto;
        // height: 100%;
    }

    .modal__close-row {
        display: none;
    }

    .modal__header {
        margin-bottom: 40px;
    }

    .modal__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex-grow: 1;
        overflow-Y: auto;

        &--text {
            gap: 20px;
            font-size: 16px;
        }
    }

    .modal__footer {
        position: relative;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .btn {

            margin: 0;
            width: 100%;
        }

        &--blue {
            padding-top: 40px;
            margin-top: 40px;
            color: var(--light);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: calc(100% + 150px);
                height: calc(100% + 60px);
                background-color: var(--dark-blue);
                transform: translateX(-50%);
            }

            .btn {
                padding: 10px;

                &--light {
                    border: 1px solid var(--light);
                    color: var(--blue);

                    &:hover {
                        background-color: var(--dark-blue);
                        color: var(--light);
                    }
                }
            }
        }

        * {
            position: relative;
            z-index: 1;
        }
    }

    &.open {
        right: 0;
    }

    .modal-step {
        display: none;

        &.active {
            display: flex;
        }
    }

    .panel {
        padding: 20px;
        border-radius: 20px;
    }

    .accent {
        margin-top: 20px;
    }

    .btn {
        width: 100%;
        margin-top: 30px;
    }

    a {
        color: var(--blue);
    }

    .questionnaire {
        flex-grow: 1;

        &--finish {
            flex-grow: 0;
        }
    }
}



.modal-tab-control {
    position: relative;
    display: flex;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: var(--bg);
    overflow: hidden;

    .modal-tab-control__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        min-height: 60px;
        background-color: var(--bg);
        border-radius: 50px;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 500;
        ;
        transition: var(--great-transition);

        &.active {
            color: var(--light);
            background-color: var(--blue);
        }
    }
}

.modal-tab-display {
    display: none;

    &.active {
        display: flex;
    }
}

.questionnaire-wr {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.questionnaire {
    display: flex;
    flex-direction: column;

    .questionnaire__counter {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 600;
        color: var(--blue);
    }

    .question {
        margin-bottom: 40px;
    }

 

    &--finish {
        flex-grow: 0;
        gap: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        .modal__header{
            margin-bottom: 0;
        }
        .kv-item {
            gap: 10px;
            flex-grow: 1;

            .lv-item__label {
                font-size: 16px;
            }

            .lv-item__value {
                font-size: 24px;
            }
        }
    }

}

// ========================================================================
@media screen and (max-width: 1470px) {
    .modal {
        max-width: 600px;
        padding: 40px;
        font-size: 16px;

        .modal__header {
            margin-bottom: 30px;
        }

        .modal__inner {
            gap: 30px;
        }

        .modal__footer {
            &--blue {
                padding-top: 30px;
                margin-top: 20px;

                &::before {
                    height: calc(100% + 40px);
                }
            }
        }
    }

    .questionnaire {
        &--finish {
            gap: 20px;

            .kv-item {
                gap: 10px;

                .lv-item__label {
                    font-size: 16px;
                }

                .lv-item__value {
                    font-size: 22px;
                }
            }
        }

        .questionnaire__counter {
            margin-bottom: 10px;
            font-size: 16px;
        }

        .question {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 999px) {
    .modal-tab-control {
        .modal-tab-control__btn {
            min-height: 50px;
            background-color: var(--bg);
            border-radius: 50px;
            font-size: 14px;
        }
    }

    .columns-box {
        &--two-col {
            grid-template-columns: 1fr;
        }
    }

    .questionnaire {
        &--finish {
            gap: 20px;

            .kv-item {
                gap: 10px;

                .lv-item__label {
                    font-size: 16px;
                }

                .lv-item__value {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .modal {
        max-width: 450px;
        padding: 40px;
        font-size: 16px;

        .modal__header {
            margin-bottom: 30px;
        }

        .modal__inner {
            gap: 30px;
        }

        .form-elem {
            &--row {
                flex-direction: column;

                .form-elem__field-box {
                    width: 100%;
                }
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .modal__title {
        font-size: 22px;
    }

    .modal {
        right: 0;
        bottom: -100%;
        top: auto;
        height: 80%;
        border-radius: 20px 20px 0 0;
        width: 100%;
        max-width: 100%;
        padding: 20px;
        font-size: 15px;

        .modal__header {
            margin-bottom: 20px;
        }

        .modal__inner {
            gap: 20px;
        }

        &.open {
            bottom: 0;
        }

        .modal__footer {
            &--blue {
                &::before {
                    height: calc(100% + 20px);
                }
            }
        }
    }

    .questionnaire {
        &--finish { 
            .kv-item {
                gap: 10px;

                .lv-item__label {
                    font-size: 14px;
                }

                .lv-item__value {
                    font-size: 18px;
                }
            }
        }
    }
}