.telegram-icon{
    display: block; 
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/telegram-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.youtube-icon{
    display: block; 
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/youtube-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.vk-icon{
    display: block; 
    width: 22px;
    height: 22px;
    mask-image: url(../img/icons/vk-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.briefcase-icon{
    display: block;  
    mask-image: url(../img/icons/briefcase-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.arrow-down-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/arrow-down-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.arrow-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/arrow-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
    &--left{
        transform: rotate(90deg);
    }
    &--right{
        transform: rotate(-90deg);
    }
}
.target-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/target-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.people-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/people-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.calendar-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/calendar-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}


.watch-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/watch-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.eye-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/eye-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}

.question-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/question-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.share-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/share-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--blue);
}

.gift-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/gift-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--gold);
}
.shield-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/shield-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--gold);
}
.passport-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/passport-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--gold);
}
.heart-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/heart-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.handshake-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/handshake-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.timer-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/timer-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.closed-eye-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/closed-eye-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--blue);
}

.open-eye-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/open-eye-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--blue);
}

.go-to-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/go-to-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--blue);
}
.copy-it-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/copy-it-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.check-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/check-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.barricade-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/barricade-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.scales-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/scales-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
} 
.frame-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/frame-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.crossed-out-house-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/crossed-out-house-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
} 
.destroyer-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/destroyer-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.chart-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/chart-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.armchair-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/armchair-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.receipt-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/receipt-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.house-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/house-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.stamp-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/stamp-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.building-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/building-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.download-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/download-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.specialists-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/specialists-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.flag-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/flag-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.cup-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/cup-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.message-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/message-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.card-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/card-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.plan-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/plan-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.checked-shield-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/checked-shield-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.court-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/court-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.suitcase-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/suitcase-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.neighbour-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/neighbour-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.developer-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/developer-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.resources-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/resources-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}

.sentence-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/sentence-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}

.thin-eye-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/thin-eye-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}

.thin-target-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/thin-target-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.thin-handshake-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/thin-handshake-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.team-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/team-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.thin-heart-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/thin-heart-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.saving-time-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/saving-time-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}

.payment-card-icon{
    display: block;  
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/payment-card-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.cross-icon{
    display: block;  
    width: 24px;
    height: 24px;
    mask-image: url(../img/icons/cross-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--dark);
}
.checked-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/checked-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}
.fat-cross-icon{
    display: block;  
    width: 16px;
    height: 16px;
    mask-image: url(../img/icons/fat-cross-icon.svg);
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--light);
}


