.section-title{
    margin-bottom: 50px;
    sup{
        font-size: 30px;
        color: var(--blue);
    }
}
main{
    .section-title-panel{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .section-title{
            margin-bottom: 0;
        }
        p{
            font-size: 20px;
            margin: 0;
            max-width: 556px;
        }
    }
}


// =====================================================
@media screen and (max-width: 1470px){
    .inner { 
        padding: 0 80px; 
    }
    .section-title{
        margin-bottom: 30px;
        sup{
            font-size: 20px; 
        }
    }
    main{
        .section-title-panel{
            margin-bottom: 30px;
            .section-title{
                margin-bottom: 0;
            }
            p{
                font-size: 18px; 
                max-width: 413px;
            }
        }
    }
}
@media screen and (max-width: 1335px){
    .inner { 
        padding: 0 20px; 
    }
}
@media screen and (max-width: 999px){
    main{
        .section-title-panel{ 
            flex-direction: column;
            p{ 
                max-width: 100%;
            }
        }
    }
}
@media screen and (max-width: 500px){
    .inner { 
        padding: 0 15px; 
    }
    main{
        .section-title-panel{ 
            p{
                font-size: 15px; 
            }
        }
    }
}
