:root{
    --dark: #030E17;
    --border: #D4DBE7;
    --border-alt: #D9E0EE;
    --bg: #F0F2F5;
    --bg-dark: #1A1E33;
    --light: #FFFFFF;
    --blue: #405FCE;
    --error: #E14942;
    --success: #1F9C20;
    --gold: #CDA229;
    --dark-blue: #2A315C;
    --soft-blue: rgba(42, 49, 92, 0.102);  
    --great-transition: all 200ms ease;
    --placeholder: rgba(42, 49, 92, 0.502); 
}